[submodule ".vim/bundle/lightline"]
	path = .vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
	branch = master
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree
	branch = master
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround
	branch = master
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/preservim/tagbar
	branch = master
