[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
  url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/ycm"]
	path = .vim/bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
